
body {
	font-family: "Crimson Text", "Times New Roman", serif; /* define a fonte utilizada no texto */
	background-color: #F2FFFC; /* define a cor do plano de fundo do body */
	font-size: 120%; /* define o tamanho da fonte do body */
	line-height: 1.5; /* define o espaçamento entre as linhas */
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif; /* define a fonte do H1 e H2 */
	font-size: 30px; /* define o tamanho da fonte dos h1 e h2 */
}

.titulo-principal {
	text-align: center; /* define o alinhamento do texto do H1 */
	background-color: #851944; /* define a cor do plano de fundo do H1 */
	color: #FFF; /* define a cor do H1 */
	padding: 25px; /* define o espaçamento entre o texto do H1 com a borda da caixa background (dentro do elemento) */
	margin: 0; /* define a margem entre a caixa background e a página */
	border-bottom: 10px solid #000000; /* define a borda inferior para o H1 */
	font-size: 60px; /* define o tamanho da fonte do main h1 */
	text-transform: uppercase;
}

p {
	text-align: justify; /* define o alinhamento do texto dos parágrafos */
	margin: 20px 0; /* define um espaço ao redor dos parágrafos */
}

h2 {
	clear: both;
}

footer {
	background-color: #000; /* define a cor do plano de fundo do footer */
	color: #F2FFFC; /* define a cor do texto do footer */
	padding: 20px; /* define o espaçamento entre o texto e a borda da caixa background */ 
	clear: both;
}

nav a {
	color: #F2FFFC; /* define a cor do texto do nav a */
}

main {
	width: 85%;
	float: left;
}

main a {
	color: #851944; /* define a cor do texto do main a */
}

.texto-principal {
	width: 720px; /* define a largura da main div */
	margin-left: auto; /* define o valor da margem esquerda da página */
	margin-right: auto; /* define o valor da margem direita da página */
	padding: 30px 0; /* define o espaço interno de todo o texto */
}

.minha-foto, .navegacao-site {
	width: 15%;
	float: right; 
	border-bottom: 10px solid #000000; /* borda inferior */ 
 	border-left: 10px solid #000000; /* borda esquerda */
	box-sizing: border-box; /* define que a caixa background deve ter o tamanho definido width */
}

.navegacao-site {
	background-color: #3C1D3D; /* define a cor do plano de fundo do aside */
	color: #F2FFFC; /* define a cor do texto do aside */
	padding: 20px; /* define o espaçamento entre o texto e a borda da caixa background */
	text-align: center; /* define o alinhamento do texto */
	clear: right; /* utilizado para não haver nenhum elemento ao lado, ou seja, no nosso caso, não poderá haver nenhum elemento no lado direito */
	box-sizing: border-box; /* define que a caixa background deve ter o tamanho definido width */
	position: absolute; /* posicionamento absoluto define que não importam as medidas da página, o elemento será posicionado onde for definido */
	top: 270px; /* define que o elemento esteja a 270px do topo */
	right: 0; /* define que o elemento esteja a 0px da direita */
	width: 240px; /* define a largura do elemento */
}

.minha-foto {
	position: absolute; /* posicionamento absoluto define que não importam as medidas da página, o elemento será posicionado onde for definido */
	width: 270px; /* define a largura do elemento */
	top: 0; /* define que o elemento ficará a 0px do topo */
	right: 0; /* define que o elemento ficará a 0px da direita */
}

aside a {
	color: inherit; /* herda a cor da classe Mãe */
	font-family: "Open Sans Condensed", sans-serif; /* define a fonte do aside a */
	text-decoration: none; /* define como será a parte sublinhada do aside a (no caso, os links ficarão sem sublinhar) */
}

aside li{
	list-style-type: none; /* define o estilo de marcação das listas */
}

.redes-sociais li{
	display: inline-block; /* O valor inline-block para a propriedade display surgiu para podermos definir altura e largura em elementos inline. Fora isso, ambos os elementos podem ter um padding definido, ambos ficam em linha e ambos são suportados por todos os navegadores modernos. */
}

.redes-sociais a {
	display: inline-block; /* O valor inline-block para a propriedade display surgiu para podermos definir altura e largura em elementos inline. Fora isso, ambos os elementos podem ter um padding definido, ambos ficam em linha e ambos são suportados por todos os navegadores modernos. */
	height: 40px; /* Define a altura dos elementos de imagem que estão na tag a */
	width: 40px; /* Define a largura dos elementos de imagem que estão na tag a */
	text-indent: -9999px; /* Permite regular o recuo da primeira linha de um parágrafo. Image replacement (substituir texto por imagem) */
	text-transform: lowercase; /* transforma o texto com todos os caractéres em minúsculo */
}

.github { /* classe que define a imagem do logotipo do Github */
	background-image: url(../img/github.png); /* define a imagem a ser colocada na página */
}

.linkedin { /* classe que define a imagem do logotipo do Linkedin */
	background-image: url(../img/linkedin.png); /* define a imagem a ser colocada na página */
}

.twitter { /* classe que define a imagem do logotipo do Twitter */
	background-image: url(../img/twitter.png); /* define a imagem a ser colocada na página */
}

.social-rodape {	/* classe para deixar os ícones de redes sociais ao lado do copyright João da Silva */
	display: flex; 
	align-items: center;
}

nav h1 {
	font-size: 30px; /* define o tamanho da fonte do aside h1 */
	margin-bottom: 25px; /* define a margem inferior do aside h1 */
}

